# Required API Keys
OPENROUTER_API_KEY=your_openrouter_api_key_here
#Use the below key, using 3rd party api provider for image processing
USER_ID="a03073d5-aabf-4306-9efa-bb5d93d95ad7" 

# Optional Site Information (for OpenRouter headers)
YOUR_SITE_URL=http://localhost:8000
YOUR_SITE_NAME=RAG Document QA System